### Module 0 - Load the Data

In [150]:
import pandas as pd
from langchain.embeddings.sentence_transformer import SentenceTransformerEmbeddings
from langchain.vectorstores import Chroma

In [151]:
calendars = pd.read_csv('Inpixon Gen 30-employee Calendar.csv')
employees = pd.read_csv('Inpixon Gen 30-employee data.csv')

collaboration_matrix = pd.read_csv('collaboration_measure.csv', index_col=0)
distance_matrix = pd.read_csv('distance_measure.csv', index_col=0)

embedding_function = SentenceTransformerEmbeddings(model_name="all-MiniLM-L6-v2")
vectordb = Chroma(persist_directory="./vector_employee/", embedding_function = embedding_function)

In [152]:
collaboration_matrix.head()

,4t6z47ws5avcz7f953jb8ewb,bw00i86g0zxuipim6syrqqha,ipb68c4eukm5t635hrncceem,wo08bpmq92e5b0jsn8aougwj,a8xt41h2gscjuvtm764f6ddj,9a7csrm7vrnu64doyjbi1hfg,j0jxd7xazwxjd103h6l58whp,3zyj6sk0vmovwsl8ddu7pxe6,n411j0cxbylyus8qrdls2v8j,dxjacph5834y6tdjzm8hjelu,...,ueu662xu9j9zir44i7wgp4v1,dydn93xeiu56x7f6bvjrc70k,ec9ceh03pt883jpw0dmujeqy,8vn4zhh0cui5xorfxr3kfvae,jm1clwch6lt15lnxa8dykys7,qal3tqop3wxj254thf7mmb2a,nputv3ko7vubuz3ccip6u5nv,hwhsmkf3ni969shocp424vbk,r6i0yclgiovy7v2q4kplipy5,e6ww7l5a11ocu4ux06q2d3k6
4t6z47ws5avcz7f953jb8ewb,0.000000,0.916667,0.666667,0.722222,0.750000,0.527778,0.722222,0.638889,0.805556,0.666667,...,0.694444,0.694444,0.777778,0.722222,0.416667,0.638889,0.777778,0.972222,0.750000,0.500000
bw00i86g0zxuipim6syrqqha,0.622642,0.000000,0.622642,0.641509,0.490566,0.490566,0.679245,0.603774,0.566038,0.547170,...,1.000000,0.792453,0.622642,0.641509,0.547170,0.660377,0.735849,0.603774,0.679245,0.509434
ipb68c4eukm5t635hrncceem,0.558140,0.767442,0.000000,0.534884,0.581395,0.604651,0.883721,0.441860,0.697674,0.604651,...,1.000000,0.558140,0.581395,0.627907,0.581395,0.837209,0.581395,0.604651,0.372093,0.651163
wo08bpmq92e5b0jsn8aougwj,0.619048,0.809524,0.547619,0.000000,0.547619,0.642857,0.809524,0.595238,0.500000,0.619048,...,0.928571,0.880952,0.666667,0.714286,0.523810,0.785714,0.785714,0.642857,0.523810,0.833333
a8xt41h2gscjuvtm764f6ddj,0.675000,0.650000,0.625000,0.575000,0.000000,0.800000,0.950000,0.700000,0.800000,0.575000,...,1.000000,0.675000,0.625000,0.825000,0.975000,0.625000,0.725000,0.800000,0.650000,0.775000

In [153]:
distance_matrix.head()

,jm1clwch6lt15lnxa8dykys7,wo08bpmq92e5b0jsn8aougwj,kwk77vwyu8lrrczxd84980ro,r6i0yclgiovy7v2q4kplipy5,bw00i86g0zxuipim6syrqqha,qal3tqop3wxj254thf7mmb2a,dxjacph5834y6tdjzm8hjelu,9a7csrm7vrnu64doyjbi1hfg,2ns6k2uicdybeqpipq3ekyx2,hwhsmkf3ni969shocp424vbk,...,3zyj6sk0vmovwsl8ddu7pxe6,n411j0cxbylyus8qrdls2v8j,8vn4zhh0cui5xorfxr3kfvae,ueu662xu9j9zir44i7wgp4v1,e6ww7l5a11ocu4ux06q2d3k6,4bcl4g29bxy64zrr3a40my90,ec9ceh03pt883jpw0dmujeqy,4t6z47ws5avcz7f953jb8ewb,2vmq0qpcgx9lf32wgys980vj,qxc3npc9yivcsqsglyvf9ke8
ID,,,,,,,,,,,,,,,,,,,,,
jm1clwch6lt15lnxa8dykys7,0.000000,0.533794,0.825342,0.533040,0.533794,0.533557,0.533794,0.533040,0.533794,0.533557,...,1.000000,1.0,0.533557,0.407192,1.0,0.533040,0.533794,1.000000,0.825342,0.972648
wo08bpmq92e5b0jsn8aougwj,0.533794,0.000000,0.680965,1.000000,1.000000,0.991438,1.000000,1.000000,1.000000,0.991438,...,0.650662,0.0,0.991438,0.484122,0.0,1.000000,1.000000,0.650662,0.680965,0.543296
kwk77vwyu8lrrczxd84980ro,0.825342,0.680965,0.000000,0.676205,0.680965,0.683352,0.680965,0.676205,0.680965,0.683352,...,0.356843,0.0,0.683352,0.331389,0.0,0.676205,0.680965,0.356843,1.000000,0.818945
r6i0yclgiovy7v2q4kplipy5,0.533040,1.000000,0.676205,0.000000,1.000000,0.978824,1.000000,1.000000,1.000000,0.978824,...,0.659749,0.0,0.978824,0.496424,0.0,1.000000,1.000000,0.659749,0.676205,0.543559
bw00i86g0zxuipim6syrqqha,0.533794,1.000000,0.680965,1.000000,0.000000,0.991438,1.000000,1.000000,1.000000,0.991438,...,0.650662,0.0,0.991438,0.484122,0.0,1.000000,1.000000,0.650662,0.680965,0.543296

In [175]:
employees.head()

,Unnamed: 0,ID,EMAIL,FULLNAME,TITLE,MANAGER_NAME,MANAGER_TITLE,LOCATION,Campus,Latitude,Longitude,LinkedIn About,FIRSTNAME,LASTNAME
0,0,jm1clwch6lt15lnxa8dykys7,amanda.lima@inpixon.com,amanda lima,"Implementation Project Manager, Events",lee-michael pronko,Program Manager,"Remote - Newport Beach, CA",Remote,33.6189,-117.9298,My goal is to deliver events that are world-cl...,amanda,lima
1,1,wo08bpmq92e5b0jsn8aougwj,andreas.lagemann@inpixon.com,andreas lagemann,Director Software Development,jordi vallejo,IoT Engineering Lead,Germany,Berlin,51.1657,10.4515,About me: I am passionate about software and a...,andreas,lagemann
2,2,kwk77vwyu8lrrczxd84980ro,chimone.rattan@inpixon.com,chimone rattan,Manager of People Operations,marylou van rossem,VP of People Operations,Toronto,Toronto,43.6532,-79.3832,NaN,chimone,rattan
3,3,r6i0yclgiovy7v2q4kplipy5,christian.bock@inpixon.com,christian bock,Senior Embedded Software Engineer,andreas lagemann,Director Software Development,Berlin,Berlin,52.5200,13.4050,NaN,christian,bock
4,4,bw00i86g0zxuipim6syrqqha,christian.guenter@inpixon.com,christian guenter,Manager Digital Design,jordi vallejo,IoT Engineering Lead,Germany,Berlin,51.1657,10.4515,NaN,christian,guenter

In [154]:
employees['FIRSTNAME'] = employees['FULLNAME'].apply(lambda x: x.split()[0].lower())
employees['LASTNAME'] = employees['FULLNAME'].apply(lambda x: x.split()[-1].lower() if len(x.split()) > 1 else '')

In [156]:
sample_participants = ['Software Engineer with web service experience', 'HR', 'Mark', 'CTO']
sample_start_time = '2023/11/6 13:00'
sample_end_time = '2023/11/6 14:00'

### Module 1 - employee_coarse_match

In [155]:
def employee_coarse_match(participants, k = 5):
    """
    If the element in participants is Name -> Match Names in Employees Data
    If the element in participants is not names -> Match employees in Chroma DB (Large Number)
    """
    matched_employees = {}
    employee_scores = {}

    for participant in participants:
        # Initialize the list for this participant
        matched_employees[participant] = []


        participant_lower = participant.lower()
        # Check if participant is a full name in the employees DataFrame
        employee_match = employees[(employees['FULLNAME'] == participant_lower)
                            (employees['FIRSTNAME'] == participant_lower) | 
                            (employees['LASTNAME'] == participant_lower) | 
                            (employees['TITLE'].str.lower() == participant_lower)]



        if not employee_match.empty:
            # If a matching employee is found, add their ID to the dictionary
            matched_employees[participant].append(employee_match.iloc[0]['ID'])
        else:
            # If no match, perform a similarity search in vectordb
            similar_employees = vectordb.similarity_search_with_relevance_scores(participant, k=k)

            # Extract and add employee IDs from the search results
            for document, score in similar_employees:
                employee_id = document.metadata['ID']
                matched_employees[participant].append(employee_id)
                employee_scores[employee_id] = score


    return matched_employees, employee_scores

In [157]:
matched_employees, employee_scores = employee_coarse_match(sample_participants, 5)

/Users/inpxAdmin/Desktop/CXApp Work Files/CXApp Employee Recommendation/.venv/lib/python3.11/site-packages/langchain/schema/vectorstore.py:275: UserWarning: Relevance scores must be between 0 and 1, got [(Document(page_content=': 25\nTITLE: Manager, People Operations\nLinkedIn About: ', metadata={'Campus': 'Berlin', 'EMAIL': 'samia.maaroufi@inpixon.com', 'FULLNAME': 'samia maaroufi', 'ID': '4bcl4g29bxy64zrr3a40my90', 'LOCATION': 'Berlin', 'Latitude': '52.52', 'Longitude': '13.405', 'MANAGER_NAME': 'marylou van rossem', 'MANAGER_TITLE': 'VP of People Operations', 'row': 25, 'source': 'samia maaroufi'}), -0.027622722870100258), (Document(page_content=': 4\nTITLE: Manager Digital Design\nLinkedIn About: ', metadata={'Campus': 'Berlin', 'EMAIL': 'christian.guenter@inpixon.com', 'FULLNAME': 'christian guenter', 'ID': 'bw00i86g0zxuipim6syrqqha', 'LOCATION': 'Germany', 'Latitude': '51.1657', 'Longitude': '10.4515', 'MANAGER_NAME': 'jordi vallejo', 'MANAGER_TITLE': 'IoT Engineering Lead', 'row': 4, 'source': 'christian guenter'}), -0.02924826870539987), (Document(page_content=': 2\nTITLE: Manager of People Operations\nLinkedIn About: ', metadata={'Campus': 'Toronto', 'EMAIL': 'chimone.rattan@inpixon.com', 'FULLNAME': 'chimone rattan', 'ID': 'kwk77vwyu8lrrczxd84980ro', 'LOCATION': 'Toronto', 'Latitude': '43.6532', 'Longitude': '-79.3832', 'MANAGER_NAME': 'marylou van rossem', 'MANAGER_TITLE': 'VP of People Operations', 'row': 2, 'source': 'chimone rattan'}), -0.036503994957226116), (Document(page_content=': 20\nTITLE: Quality Delivery Manager\nLinkedIn About: ', metadata={'Campus': 'Remote', 'EMAIL': 'muralidharan.kandath@inpixon.com', 'FULLNAME': 'muralidharan kandath', 'ID': '3zyj6sk0vmovwsl8ddu7pxe6', 'LOCATION': 'Hyderabad, India Office', 'Latitude': '17.385', 'Longitude': '78.4867', 'MANAGER_NAME': 'mark bauer', 'MANAGER_TITLE': 'Senior Director, Integration and Innovation', 'row': 20, 'source': 'muralidharan kandath'}), -0.039530658857330314), (Document(page_content=': 16\nTITLE: Lead Senior Developer IIoT\nLinkedIn About: ', metadata={'Campus': 'Frankfurt', 'EMAIL': 'marc.schiller@inpixon.com', 'FULLNAME': 'marc schiller', 'ID': 'dydn93xeiu56x7f6bvjrc70k', 'LOCATION': 'Frankfurt', 'Latitude': '50.1109', 'Longitude': '8.6821', 'MANAGER_NAME': 'jordi vallejo', 'MANAGER_TITLE': 'IoT Engineering Lead', 'row': 16, 'source': 'marc schiller'}), -0.06836539308115475)]
  warnings.warn(

In [158]:
matched_employees

{'Software Engineer with web service experience': ['nputv3ko7vubuz3ccip6u5nv',
  'r6i0yclgiovy7v2q4kplipy5',
  'a8xt41h2gscjuvtm764f6ddj',
  '2ns6k2uicdybeqpipq3ekyx2',
  'ec9ceh03pt883jpw0dmujeqy'],
 'HR': ['4t6z47ws5avcz7f953jb8ewb',
  'v20lahz97dnj97zzx169s2z8',
  '2vmq0qpcgx9lf32wgys980vj',
  'kwk77vwyu8lrrczxd84980ro',
  'a8xt41h2gscjuvtm764f6ddj'],
 'Mark': ['lte0irzkzybdmhhsndrrpcnb'],
 'CTO': ['4bcl4g29bxy64zrr3a40my90',
  'bw00i86g0zxuipim6syrqqha',
  'kwk77vwyu8lrrczxd84980ro',
  '3zyj6sk0vmovwsl8ddu7pxe6',
  'dydn93xeiu56x7f6bvjrc70k']}

In [159]:
employee_scores

{'nputv3ko7vubuz3ccip6u5nv': 0.1554336405354534,
 'r6i0yclgiovy7v2q4kplipy5': 0.09447050809031965,
 'a8xt41h2gscjuvtm764f6ddj': 0.1548189767902559,
 '2ns6k2uicdybeqpipq3ekyx2': 0.011769726452929286,
 'ec9ceh03pt883jpw0dmujeqy': 0.008266563446951647,
 '4t6z47ws5avcz7f953jb8ewb': 0.4032900658752746,
 'v20lahz97dnj97zzx169s2z8': 0.24878360395228183,
 '2vmq0qpcgx9lf32wgys980vj': 0.22079018245925697,
 'kwk77vwyu8lrrczxd84980ro': -0.036503994957226116,
 '4bcl4g29bxy64zrr3a40my90': -0.027622722870100258,
 'bw00i86g0zxuipim6syrqqha': -0.02924826870539987,
 '3zyj6sk0vmovwsl8ddu7pxe6': -0.039530658857330314,
 'dydn93xeiu56x7f6bvjrc70k': -0.06836539308115475}

### Module 2 - employee_availability_filter

In [160]:
def employee_availability_filter(start_time, end_time):
    # real-time data (how to min the query # to connect to the PostGreSQL -> limit API calls to top 3) 
    """
    If User give time range: Keep employees who are available for the time range.
        If No employee satisfies the condition: Messages
    If User doesn't give time range: Pass
    """
    matched_employees, employee_scores = employee_coarse_match(sample_participants)

    if (start_time is None) and (end_time is None):
        available_employees = matched_employees
        return available_employees, employee_scores
    
    start_time = pd.to_datetime(start_time)
    end_time = pd.to_datetime(end_time)


    calendars['meeting_start_time'] = pd.to_datetime(calendars['meeting_start_time'])
    calendars['meeting_end_time'] = pd.to_datetime(calendars['meeting_end_time'])
    calendars['invited_members'] = calendars['invited_members'].apply(eval)

    # Filter for records where invited members overlap with the employee_id_list
    available_employees = {}

    for participant, employee_ids in matched_employees.items():
        available_employees[participant] = employee_ids.copy()

        # Filter for meetings that involve any of the employee IDs
        relevant_meetings = calendars[calendars['invited_members'].apply(lambda x: any(emp_id in x for emp_id in employee_ids))]

        for _, row in relevant_meetings.iterrows():
            if not (row['meeting_end_time'] < start_time or row['meeting_start_time'] > end_time):
                for emp_id in row['invited_members']:
                    if emp_id in available_employees[participant]:
                        available_employees[participant].remove(emp_id)

    return available_employees, employee_scores

In [161]:
available_employees, employee_scores = employee_availability_filter(sample_start_time, sample_end_time)

In [162]:
available_employees

{'Software Engineer with web service experience': ['a8xt41h2gscjuvtm764f6ddj'],
 'HR': ['4t6z47ws5avcz7f953jb8ewb',
  'v20lahz97dnj97zzx169s2z8',
  'kwk77vwyu8lrrczxd84980ro',
  'a8xt41h2gscjuvtm764f6ddj'],
 'Mark': [],
 'CTO': ['4bcl4g29bxy64zrr3a40my90', 'kwk77vwyu8lrrczxd84980ro']}

In [163]:
employee_scores

{'nputv3ko7vubuz3ccip6u5nv': 0.1554336405354534,
 'r6i0yclgiovy7v2q4kplipy5': 0.09447050809031965,
 'a8xt41h2gscjuvtm764f6ddj': 0.1548189767902559,
 '2ns6k2uicdybeqpipq3ekyx2': 0.011769726452929286,
 'ec9ceh03pt883jpw0dmujeqy': 0.008266563446951647,
 '4t6z47ws5avcz7f953jb8ewb': 0.4032900658752746,
 'v20lahz97dnj97zzx169s2z8': 0.24878360395228183,
 '2vmq0qpcgx9lf32wgys980vj': 0.22079018245925697,
 'kwk77vwyu8lrrczxd84980ro': -0.036503994957226116,
 '4bcl4g29bxy64zrr3a40my90': -0.027622722870100258,
 'bw00i86g0zxuipim6syrqqha': -0.02924826870539987,
 '3zyj6sk0vmovwsl8ddu7pxe6': -0.039530658857330314,
 'dydn93xeiu56x7f6bvjrc70k': -0.06836539308115475}

### Module 3 - employee_score_lists

In [164]:
random_employee = employees.sample()
random_employee

,Unnamed: 0,ID,EMAIL,FULLNAME,TITLE,MANAGER_NAME,MANAGER_TITLE,LOCATION,Campus,Latitude,Longitude,LinkedIn About,FIRSTNAME,LASTNAME
16,16,dydn93xeiu56x7f6bvjrc70k,marc.schiller@inpixon.com,marc schiller,Lead Senior Developer IIoT,jordi vallejo,IoT Engineering Lead,Frankfurt,Frankfurt,50.1109,8.6821,NaN,marc,schiller

In [165]:
sample_user_id = random_employee['ID'].iloc[0]
sample_user_id

'dydn93xeiu56x7f6bvjrc70k'

In [166]:
def get_collaboration_score(matrix, user_id, emp_id):
    # Summing up the collaboration scores with other available employees
    return matrix.loc[user_id, emp_id]

def get_distance_score(matrix, user_id, emp_id):
    # Summing up the distance scores with other available employees
    return matrix.loc[user_id, emp_id]

def get_expertise_score(emp_id):
    employee_scores = employee_coarse_match(sample_participants)[1]
    return employee_scores.get(emp_id, 0)


def employee_score_lists(user_id, available_employees):
    
    scored_available_employees = {}

    for participant, employee_ids in available_employees.items():
        scored_available_employees[participant] = {}

        for emp_id in employee_ids:
            collaboration_score = get_collaboration_score(collaboration_matrix, user_id, emp_id)
            distance_score = get_distance_score(distance_matrix, user_id, emp_id)
            expertise_score = get_expertise_score(emp_id)  
            # Assuming these function is defined 

            scored_available_employees[participant][emp_id] = {
                'collaboration_score': collaboration_score,
                'distance_score': distance_score,
                'expertise_score': expertise_score
            }
        # Logic to calculate proximity factor

    return scored_available_employees

In [167]:
scored_available_employees = employee_score_lists(sample_user_id, available_employees)

/Users/inpxAdmin/Desktop/CXApp Work Files/CXApp Employee Recommendation/.venv/lib/python3.11/site-packages/langchain/schema/vectorstore.py:275: UserWarning: Relevance scores must be between 0 and 1, got [(Document(page_content=': 25\nTITLE: Manager, People Operations\nLinkedIn About: ', metadata={'Campus': 'Berlin', 'EMAIL': 'samia.maaroufi@inpixon.com', 'FULLNAME': 'samia maaroufi', 'ID': '4bcl4g29bxy64zrr3a40my90', 'LOCATION': 'Berlin', 'Latitude': '52.52', 'Longitude': '13.405', 'MANAGER_NAME': 'marylou van rossem', 'MANAGER_TITLE': 'VP of People Operations', 'row': 25, 'source': 'samia maaroufi'}), -0.027622722870100258), (Document(page_content=': 4\nTITLE: Manager Digital Design\nLinkedIn About: ', metadata={'Campus': 'Berlin', 'EMAIL': 'christian.guenter@inpixon.com', 'FULLNAME': 'christian guenter', 'ID': 'bw00i86g0zxuipim6syrqqha', 'LOCATION': 'Germany', 'Latitude': '51.1657', 'Longitude': '10.4515', 'MANAGER_NAME': 'jordi vallejo', 'MANAGER_TITLE': 'IoT Engineering Lead', 'row': 4, 'source': 'christian guenter'}), -0.02924826870539987), (Document(page_content=': 2\nTITLE: Manager of People Operations\nLinkedIn About: ', metadata={'Campus': 'Toronto', 'EMAIL': 'chimone.rattan@inpixon.com', 'FULLNAME': 'chimone rattan', 'ID': 'kwk77vwyu8lrrczxd84980ro', 'LOCATION': 'Toronto', 'Latitude': '43.6532', 'Longitude': '-79.3832', 'MANAGER_NAME': 'marylou van rossem', 'MANAGER_TITLE': 'VP of People Operations', 'row': 2, 'source': 'chimone rattan'}), -0.036503994957226116), (Document(page_content=': 20\nTITLE: Quality Delivery Manager\nLinkedIn About: ', metadata={'Campus': 'Remote', 'EMAIL': 'muralidharan.kandath@inpixon.com', 'FULLNAME': 'muralidharan kandath', 'ID': '3zyj6sk0vmovwsl8ddu7pxe6', 'LOCATION': 'Hyderabad, India Office', 'Latitude': '17.385', 'Longitude': '78.4867', 'MANAGER_NAME': 'mark bauer', 'MANAGER_TITLE': 'Senior Director, Integration and Innovation', 'row': 20, 'source': 'muralidharan kandath'}), -0.039530658857330314), (Document(page_content=': 16\nTITLE: Lead Senior Developer IIoT\nLinkedIn About: ', metadata={'Campus': 'Frankfurt', 'EMAIL': 'marc.schiller@inpixon.com', 'FULLNAME': 'marc schiller', 'ID': 'dydn93xeiu56x7f6bvjrc70k', 'LOCATION': 'Frankfurt', 'Latitude': '50.1109', 'Longitude': '8.6821', 'MANAGER_NAME': 'jordi vallejo', 'MANAGER_TITLE': 'IoT Engineering Lead', 'row': 16, 'source': 'marc schiller'}), -0.06836539308115475)]
  warnings.warn(

In [168]:
scored_available_employees

{'Software Engineer with web service experience': {'a8xt41h2gscjuvtm764f6ddj': {'collaboration_score': 0.5869565217391305,
   'distance_score': 0.9914379321169988,
   'expertise_score': 0.1548189767902559}},
 'HR': {'4t6z47ws5avcz7f953jb8ewb': {'collaboration_score': 0.5434782608695652,
   'distance_score': 0.6449445283784465,
   'expertise_score': 0.4032900658752746},
  'v20lahz97dnj97zzx169s2z8': {'collaboration_score': 0.717391304347826,
   'distance_score': 0.542309508568118,
   'expertise_score': 0.24878360395228183},
  'kwk77vwyu8lrrczxd84980ro': {'collaboration_score': 0.9130434782608696,
   'distance_score': 0.6833519954702927,
   'expertise_score': -0.036503994957226116},
  'a8xt41h2gscjuvtm764f6ddj': {'collaboration_score': 0.5869565217391305,
   'distance_score': 0.9914379321169988,
   'expertise_score': 0.1548189767902559}},
 'Mark': {},
 'CTO': {'4bcl4g29bxy64zrr3a40my90': {'collaboration_score': 0.8260869565217391,
   'distance_score': 0.9788235987530975,
   'expertise_score': -0.027622722870100258},
  'kwk77vwyu8lrrczxd84980ro': {'collaboration_score': 0.9130434782608696,
   'distance_score': 0.6833519954702927,
   'expertise_score': -0.036503994957226116}}}

### Module 4 - recommend_employees

In [169]:
preference = 'Collaboration'

In [170]:
def recommend_employees(scored_available_employees):
    """
    Check if user have employee recommendation preference:
        Prefer Location:
        Prefer Collaboration:
        Prefer Expertise:
        None:
    """

    recommendations = {}

    for role, employees in scored_available_employees.items():
        # Convert dictionary to a list of (employee_id, scores) for sorting
        employee_list = [(emp_id, scores) for emp_id, scores in employees.items()]

        if preference == 'Location':
            # Sort by distance score, higher is better
            sorted_employees = sorted(employee_list, key=lambda x: x[1]['distance_score'], reverse=True)
        elif preference == 'Collaboration':
            # Sort by collaboration score, higher is better
            sorted_employees = sorted(employee_list, key=lambda x: x[1]['collaboration_score'], reverse=True)
        elif preference == 'Expertise':
            # Sort by expertise score, higher is better
            sorted_employees = sorted(employee_list, key=lambda x: x[1]['expertise_score'], reverse=True)
        else:  # Default case or if preference is None
            # Sort by expertise, then distance, then collaboration
            sorted_employees = sorted(employee_list, key=lambda x: (x[1]['expertise_score'], x[1]['distance_score'], x[1]['collaboration_score']), reverse=True)

        # Recommend top 3 or all if fewer than 3
        recommendations[role] = [emp_id for emp_id, _ in sorted_employees[:3]]

    return recommendations

In [171]:
result = recommend_employees(scored_available_employees)

In [172]:
result

{'Software Engineer with web service experience': ['a8xt41h2gscjuvtm764f6ddj'],
 'HR': ['kwk77vwyu8lrrczxd84980ro',
  'v20lahz97dnj97zzx169s2z8',
  'a8xt41h2gscjuvtm764f6ddj'],
 'Mark': [],
 'CTO': ['kwk77vwyu8lrrczxd84980ro', '4bcl4g29bxy64zrr3a40my90']}

In [174]:
#id_list = ['a8xt41h2gscjuvtm764f6ddj','v20lahz97dnj97zzx169s2z8','kwk77vwyu8lrrczxd84980ro','a8xt41h2gscjuvtm764f6ddj','4bcl4g29bxy64zrr3a40my90', 'jm1clwch6lt15lnxa8dykys7', '8vn4zhh0cui5xorfxr3kfvae', '4bcl4g29bxy64zrr3a40my90', 'kwk77vwyu8lrrczxd84980ro']
id_list = ['a8xt41h2gscjuvtm764f6ddj', 'kwk77vwyu8lrrczxd84980ro',  'v20lahz97dnj97zzx169s2z8', 'a8xt41h2gscjuvtm764f6ddj', 'kwk77vwyu8lrrczxd84980ro', '4bcl4g29bxy64zrr3a40my90']
employees[['ID', 'FULLNAME', 'TITLE', 'LOCATION', 'Campus']].loc[employees['ID'].isin(id_list)]

,ID,FULLNAME,TITLE,LOCATION,Campus
2,kwk77vwyu8lrrczxd84980ro,chimone rattan,Manager of People Operations,Toronto,Toronto
17,a8xt41h2gscjuvtm764f6ddj,marcel borwitzky,Product Manager,Germany,Berlin
19,v20lahz97dnj97zzx169s2z8,marylou van rossem,VP of People Operations,Palo Alto,Palo Alto
25,4bcl4g29bxy64zrr3a40my90,samia maaroufi,"Manager, People Operations",Berlin,Berlin

### Remaining Tasks

1. **Title Mapping Improvement**: Develop a refined method for accurately mapping participant titles to corresponding employee roles, possibly through advanced algorithms or enhanced data analysis.

2. **Unavailable Participant Notification**: Implement a notification feature to inform users when certain participants are unavailable, possibly suggesting alternatives or waitlist options.

3. **Handling Repeat Employee Recommendations**: Decide on a strategy for cases where an employee is recommended for multiple roles - either mention them once for simplicity or multiple times to highlight their diverse skill set, based on user experience preferences and feedback.